@define-color bg-color rgb(0,0,0);
@define-color bg-color-tray rgb (0,0,0);
@define-color bg-color-0 rgb (0,0,0);
@define-color bg-color-1 rgb(40, 42, 54);

@define-color fg-color rgb (248, 248, 242);
@define-color alert-bg-color rgb (255, 85, 85);
@define-color alert-fg-color rgb (248, 248, 242);
@define-color inactive-fg-color rgb(144, 153, 162);
@define-color inactive-bg-color rgb(68, 71, 90);

* {
    border: none;
    border-radius: 0;
    font-family: Dejavu Sans Mono, FontAwesome, Material Icons, sans-serif;
    font-size: 13px;
    min-height: 26px;
    opacity: 1.0;
}

window#waybar {
    background-color: @bg-color-0;
}

window#waybar.empty {
    background-color: transparent;  
}

window#waybar.empty #window {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: transparent;
}

#workspaces {
    background-color: @bg-color-0;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @fg-color;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.7); 
    box-shadow: inherit;
    border-bottom: 3px solid @fg-color;
}

#workspaces button.focused {
    background-color: @bg-color;
    border-bottom: 3px solid @fg-color;
}

/* Make the active workspace more prominent */
#workspaces button.focused {
    font-weight: 700;
    font-size: 30px;
}

#workspaces button.urgent {
    background-color: @alert-bg-color;
}

#custom-window {
    padding: 0 4px;
    margin: 0 4px;
}

#mode {
    padding: 0 4px;
    margin: 0 4px;
    background-color: @bg-color;
    border-bottom: 3px solid @fg-color;
}

#tray {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-tray;
    color: @fg-color;
}


#clock {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-0;
    color: @fg-color;
}

#custom-weather {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-2;
    color: @fg-color;
}

#custom-rdict {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-3;
    color: @fg-color;
}

#custom-covid {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-16;
    color: @fg-color;
}

#backlight {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-3;
    color: @fg-color;
}

#battery {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-4;
    color: @fg-color;
}

#battery.charging {
    color: @fg-color;
    background-color: @bg-color;
}

#battery.warning:not(.charging) {
    color: @alert-fg-color;
    background-color: @alert-bg-color;
}

#battery.critical:not(.charging) {
    background-color: @alert-bg-color;
    color: @fg-color;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-bat0,
#custom-bat0.charging {
    padding: 0 2px;
    margin: 0 4px;
    color: @fg-color;
    background-color: @bg-color-10;
}
#custom-bat0.warning:not(.charging):not(.full) {
    color: @alert-fg-color;
    background-color: @alert-bg-color;
}
#custom-bat0.critical:not(.charging):not(.full) {
    background-color: @alert-bg-color;
    color: @fg-color;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-6;
    color: @fg-color;
}

#bluetooth {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-6;
    color: @fg-color;
}

#custom-wg {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-6;
    color: @fg-color;
}

#pulseaudio {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-12;
    color: @fg-color;
}

#temperature {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-7;
    color: @fg-color;
}

#backlight {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-8;
    color: @fg-color;
}

#pulseaudio {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-9;
    color: @fg-color;
}

#custom-media {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-10;
    color: @fg-color;
}

#cpu {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-13;
    color: @fg-color;
}

#disk {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-13;
    color: @fg-color;
}

#memory {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-5;
    color: @fg-color;
}

#idle_inhibitor {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-14;
    color: @fg-color;
}

#mpd {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-15;
    color: @fg-color;
}

#custom-spotify {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-15;
    color: @fg-color;
}

#custom-kbd {
    padding: 0 2px;
    margin: 0 4px;
    background-color: @bg-color-11;
    color: @fg-color;
}

#custom-kbd.none {
    background-color: transparent;
    color: transparent;
}

@keyframes blink {
    to {
        background-color: @fg-color;
        color: @bg-color;
    }
}

label:focus {
    background-color: @bg-color;
}

#network.disconnected {
    background-color: @alert-bg-color;
}

#custom-wg.disconnected {
    background-color: @alert-bg-color;
}

#pulseaudio.muted {
    background-color: @inactive-bg-color;
    color: @inactive-fg-color;
}

#custom-media.custom-vlc {
    background-color: @bg-color;
}

#temperature.critical {
    background-color: @alert-bg-color;
}

#idle_inhibitor.activated {
    background-color: @fg-color;
    color: @bg-color;
}

#mpd.disconnected {
    background-color: transparent;
    color: transparent;
}

#mpd.stopped {
    background-color: transparent;
    color: transparent;
}

#mpd.paused {
    background-color: @inactive-bg-color;
    color: @inactive-fg-color;
}
